#include <Servo.h>

Servo servoY;
Servo servoX;

const int index_right_pin = 11;
const int index_left_pin = 12;
const int index_up_pin = 10;
const int index_down_pin = 9;

int index_up = 0;
int index_down = 0;
int index_right = 0;
int index_left = 0;

int directionn = 1;
//1 = вправо
//2 = вниз
//3 = влево
//4 = вверх

void setup() {
  Serial.begin(9600);
  servoY.attach(7);
  servoX.attach(13);
  pinMode(index_up_pin, INPUT);
  pinMode(index_down_pin, INPUT);
  pinMode(index_left_pin, INPUT);
  pinMode(index_right_pin, INPUT);

  //index_up = digitalRead(index_up_pin);
  //index_down = digitalRead(index_down_pin);
  //index_left = digitalRead(index_left_pin);
  //index_right = digitalRead(index_right_pin);
}

void loop() {
  
  digitalWrite(index_up_pin, HIGH);
  digitalWrite(index_down_pin, HIGH);
  digitalWrite(index_left_pin, HIGH);
  digitalWrite(index_right_pin, HIGH);
  
  index_up = digitalRead(index_up_pin);
  index_down = digitalRead(index_down_pin);
  index_left = digitalRead(index_left_pin);
  index_right = digitalRead(index_right_pin);

if (directionn == 1){
  Serial.print("directionn = ");
Serial.println(directionn);
    if (index_right == HIGH){
  servoX.writeMicroseconds(1800);
  servoY.writeMicroseconds(1500);
  //Serial.println("HIGH");
    }
    if (index_right != HIGH){
      //directionn++;
      //Serial.println("NOT HIGH");
      servoX.writeMicroseconds(1500);
      directionn++;
    }
    //delay(100);
}

if (directionn == 2){
  Serial.print("directionn = ");
Serial.println(directionn);
    if (index_down == HIGH){
  servoY.writeMicroseconds(1200);
  servoX.writeMicroseconds(1500);
    }
    if (index_down != HIGH){
      //directionn++;
      servoY.writeMicroseconds(1500);
      directionn++;
    }
    //delay(100);
}

if (directionn == 3){
  Serial.print("directionn = ");
Serial.println(directionn);
    if (index_left == HIGH){
  servoX.writeMicroseconds(1200);
  servoY.writeMicroseconds(1500);
    }
    if (index_left != HIGH){
      //directionn++;
      servoX.writeMicroseconds(1500);
      directionn++;
    }
    //delay(100);
}

if (directionn == 4){
  Serial.print("directionn = ");
Serial.println(directionn);
    if (index_up == HIGH){
  servoY.writeMicroseconds(1800);
  servoX.writeMicroseconds(1500);
  //Serial.println("UP NOT PRESSED");
    }
    if (index_up != HIGH){
      servoY.writeMicroseconds(1500);
      directionn++;
      //Serial.println("UP PRESSED");
    }
    //delay(100);
}
if (directionn > 4){
  //Serial.println("full circle");
  directionn = 1;
  //delay(50);
}
//delay(100);
//Serial.print("directionn = ");
//Serial.println(directionn);
  //delay(1000);
}
